{
    "require": [
      "babel-core/register"
    ],
    "reporter": [
        "lcov",
        "text"
    ],
    "include": [
        "app/**"
    ],
    "all": true,
    "lines": 73.35,
    "functions": 83.65,
    "statements": 73.64,
    "branch": 75.14,
    "check-coverage": true
}
