{
    "require": [
      "babel-core/register"
    ],
    "reporter": [
        "lcov",
        "text"
    ],
    "include": [
        "app/**"
    ],
    "exclude": [
        "**/static/**"
    ],
    "all": true,
    "lines": 98.57,
    "functions": 99.32,
    "statements": 98.58,
    "branch": 86.53,
    "check-coverage": true
}
