{
    "require": [
      "babel-core/register"
    ],
    "reporter": [
        "lcov",
        "text"
    ],
    "include": [
        "app/**"
    ],
    "all": true,
    "lines": 80.48,
    "functions": 88.46,
    "statements": 80.71,
    "branch": 73.42,
    "check-coverage": true
}
